<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--===========================Bootstrap 4 CDN Link=======================================-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--Google Fonts Link-->
    <link href="https://fonts.googleapis.com/css?family=Cuprum|El+Messiri|Lobster&display=swap" rel="stylesheet">

    <!--CSS Link-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/App.css">
    <link rel="stylesheet" href="/css/Admin.css">
    
    <title>Profile</title>
</head>
<body class = "studentProfileBody">
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <a class="navbar-brand" href="/studentHome">  <%= data.name%> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> -->
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    
                  <a class="nav-link" href="/studentHome">
                    <button class="btn btn-light">
                        Home
                    </button>
                    <span class="sr-only">(current)</span></a>
                </li>
                
                

            </div>
        </nav>

        <br><br><br>
        
        <div class="row">
            <!--Left Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
            </div>

            <!--Middle Part-->
            <div class="col-sm-8 bg card">
                <!--Profile Picture Section-->
                <br>
                <center>
                    <div class="container">
                        <img src="/<%= data.profilePicture %>" class="rounded-circle" height="200px" width="30%">
                    </div>
                    <text class="displayName"> <%= data.name%> </text>
                </center>
                <br>
                
                <br><br>
            </div>

            <!--Right Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
                
            </div>

            
        </div>

        <br>
        <!--Information Part-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <table border="0" width="100%">
                        <tr>
                            <td class="infoHeading">
                                Email
                            </td>
                            <td class="infoItems">
                                <%= data.email%>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Phone No
                            </td>
                            <td class="infoItems">
                                <%= data.phone%>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Facebook
                            </td>
                            <td class="infoItems">
                                <a href="<%= data.facebook%>"><%= data.facebook%></a>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                LinkedIn
                            </td>
                            <td class="infoItems">
                                <a href="<%= data.linkedin%>"><%= data.linkedin%></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>
        <br>
        <!--Academic Info-->
        
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 bg card">
                    <div class="profileInformation">
                        <table border="0" width="100%">

                            <tr>
                                <td class="infoHeading">
                                    AIUB ID
                                </td>
                                <td class="infoItems">
                                    <%= data.aiub_id %>
                                </td>
                            </tr>

                            <tr>
                                <td class="infoHeading">
                                    Department
                                </td>
                                <td class="infoItems">
                                    <%= data.department %>
                                </td>
                            </tr>

                            <tr>
                                <td class="infoHeading">
                                    Program
                                </td>
                                <td class="infoItems">
                                    <%= data.program %>
                                </td>
                            </tr>

                            <tr>
                                <td class="infoHeading">
                                    Semester
                                </td>
                                <td class="infoItems">
                                    <%= data.semester %>
                                </td>
                            </tr>

                            <tr>
                                <td class="infoHeading">
                                    Thesis Name
                                </td>
                                <td class="infoItems">
                                    <%= data.thesisName %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-2"></div>            
            </div>

        <br>

        <!--Skill-->

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <table border="0" width="100%">
                        <tr>
                            <td class="infoHeading">
                                Skills
                            </td>
                            <td class="infoItems">
                                <%= data.skills %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>

        <br>

        <!--Others Activity-->

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <table border="0" width="100%">
                        <tr>
                            <td class="infoHeading">
                                Github
                            </td>
                            <td class="infoItems">
                                <a href="<%= data.github %>"><%= data.github %></a>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Stack Overflow
                            </td>
                            <td class="infoItems">
                                <a href="<%= data.stackoverflow %>"> <%= data.stackoverflow %></a>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Hacker Rank
                            </td>
                            <td class="infoItems">
                                <a href="<%= data.hackerrank %>"><%= data.hackerrank %></a>
                            </td>
                        </tr>

                        <!-- <tr>
                            <td class="infoHeading">
                                Online Judge
                            </td>
                            <td class="infoItems">
                                <a href="#">https://www.linkedin.com</a>
                            </td>
                        </tr> -->

                        <tr>
                            <td class="infoHeading">
                                Portfolio
                            </td>
                            <td class="infoItems">
                                <a href="<%= data.portfolio %>"><%= data.portfolio %></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>
        <br>


        <center>
            <h2><%= data.name%>'s Posts</h2>
        </center>

        <!--Show This Users Post -->
        <% for(var i=0; i < postList.length; i++){%>
            <div class="row">
                <!--Left Part-->
                <div class="col-sm-2"> <!--Empty Side--></div>
                <!--Middle Part-->
                <div class="col-sm-8 container bg card">
                    <!--My Post List-->
                    <br>
                    <div class="container bg card">
                        <br>
                        <table border="0">
                            <!--Name,Status Row-->
                            <tr>
                                <td width="2%"><img src="/1easuM.jpg" class="rounded-circle" height="40px" width="40px"></td>
                                <td width="90%">
                                    <text class="name"> <%= postList[i].username%> </text>
                                    <span class="badge badge-pill badge-secondary">Student</span>
                                </td>
                            </tr>
    
                            <!--Date Time Row-->
                            <tr>
                                <td></td>
                                <td hidden> <%= postList[i].postId%> </td>
                                <td > <%= postList[i].postDate%> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <hr>
                                </td>
                            </tr>
    
                            <!--Image/Video/Text Row-->
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    <p class="postTextDisplay"> <%= postList[i].text%> </p>
                                </td>
                            </tr>
    
                            <tr>
                                <td>
                                    <!-- <p> <%= postList[i].text%> </p> -->
                                </td>
                                <td>
                                    <img src="/<%= postList[i].image%>" height="300px" width="70%">
                                </td>
                            </tr>
                        </table>
                        <table border="0">
                            <tr>
                                
                                <td>
                                    <center>
                                        <button class="btn btn-light">
                                            Like <span class="badge badge-primary"><%= postList[i].postLike%></span>
                                        </button>
                                    </center>
                                </td>
                                <td>
                                    <button class="btn btn-light">
                                        Comments <span class="badge badge-primary">15</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </div>
                    <br>
                </div>
                <br><br>
                <!--Right Part-->
                <div class="col-sm-2"><!--Empty Side--></div>
                <br><br>
            </div>
            <br><br>
        <% } %>



        <!--Fotter-->
        <div class="fotter">
            copyright@nazib
        </div>
       
</body>
</html>